@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}


.intro {
    
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.code-card {
    background-color: white;
    max-width: 50%;
    height: 60px;
    box-shadow: 5px 4px #c6ffdd;
    border-radius: 20px;
    padding: 10px 30px;
    border: 1.5px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}

.example-card {
    margin-left: 80px; 
    
}

.example-card > img {
    max-width: 500px;
    height: 350px;
    object-fit: contain;
    
}

.example-card > h2 {
    color: #f7797d;
}
.example-card .last {
    color: rgb(249, 165, 129)
}


.content > p {
    width: 60%;
    text-align: center;
    align-self: center;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 30px;
}



.container {
padding: 40px 70px;
-webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
border-radius: 10px;
}

.container > h1 {
    color: whitesmoke;
    text-shadow: 2px 2px rgb(96, 95, 95);
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}